*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	color: #91e012;
}
body{
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container{
	min-height: 100vh;
    min-width: 100vw;
    background-image: url('Eduversity/assets/images/image.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left{
	width: 25%;
	font-weight: bold;

}
.left p{
	padding: 30px 20px;
}
.methods{
	padding: 10px 0;
}
.methods div{
	padding: 7px 20px;
	cursor: pointer;
	font-size: 15px;
}
.methods div:hover{
	box-shadow: 0 0 10px rgba(4, 180, 157, 0.196);
}
.methods div::after{
	content: '';
	display: inline-block;
	color: rgb(9, 204, 211);
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 4px 0 4px 4px;
	border-left-color: var(--fondy-success);
	margin-left: 10px;
}
.fa-solid{
	margin-right: 10px;
	font-size: 22px;
	color: #9dda0f;
}
.center{
	width: 50%;
	border-right: 1px solid #9dda0f;
	border-left: 1px solid #9dda0f;
	height: 70vh;
}
.center a{
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.right{
	width: 25%;
}
.right p{
	padding: 30px 20px;
	font-weight: bold;
}
.details{
	padding: 20px 20px;
}
.right a{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;
}
.card-details{
	padding: 20px 80px;
}
.card-details .c-number{
	width: 100%;
	border: 1px solid #9dda0f;
	border-radius: 3px;
	padding: 0 12px;
	margin-top: 10px;
	height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
input{
	border: none;
	border-radius: 3px;
	outline: none;
}
.c-details{
	display: flex;
	width: 100%;
	justify-content: space-between;
	margin: 20px 0;
}
.cc-exp{
	border: 1px solid #9dda0f;
	border-radius: 3px;
	height: 50px;
	margin-top: 10px;
	padding: 12px;
	width: 150px;
}
.c-details .cvv-box{
	border: 1px solid #9dda0f;
	margin-top: 10px;
	padding: 12px;
	height: 50px;
	border-radius: 3px;
	display: flex;
	justify-content: space-between;
	width: 108px;
}
.cc-cvv{
	width: 60px;
}
.email input{
	width: 100%;
	border: 1px solid #aaa;
	border-radius: 3px;
	padding: 12px;
	height: 50px;
	margin-top: 10px;
}
button{
	width: 100%;
	border: none;
	height: 50px;
	border-radius: 3px;
	margin-top: 30px;
	font-size: 18px;
	color: #e3f30a;
	background-color: rgb(15, 198, 211);
}
button:hover{
	background-color: #444;
	color: white;
	cursor: pointer;
}