*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bgImgDM.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 93);
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: space-around;
}

.card-left {
    height: 105vh;
    margin: 70px;
    display: flex;
    width: 30vw;
    padding: 20px;
    border-radius: 10px;
    background: rgba(6, 5, 5, 0.15);
    backdrop-filter: blur(40px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

.card-content {
    padding: 40px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.9rem;
}

h2 {
    font-size: 3.0rem;
    margin-bottom: 40px;
}

p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

h3{
    margin-top: 50px;
    font-size: 2.0rem;
}
.btn {
    display: flex;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
    width: 140px;
    height: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bolder;
}
.btn a{
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
}

.right{
    /* border: 2px solid red; */
    height: 107vh;
    width: 50vw;
    margin: 75px;
    margin-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card{
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover{
    background-color: rgba(114, 114, 114, 0.15);
}
.card img{
    display: block;
    border-radius: 10px;
    width: 250px;
    height: 145px;
    margin-right: 20px;
    margin-left: 35px;
    position: relative;
}

.card h3{
    color: #ffffff;
}

.content{
    font-size: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 145px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.3s;
    top: 20px;
    margin-right: 40px;
    margin-left: 35px;
}

.card a{
    text-decoration: none;
    color: #fff;
}

.content p{
    font-size: 2.0rem;
}

.content:hover{
    opacity: 1;
}

/* JS accessibility */
/* acceesibility class  */
.screen-reader-enabled .hover-speak:hover {
    border: 2px solid #e26111;
    border-radius: 5px;
    padding: 3px;
    z-index: 3;
  }
  
  
  
  .accessibility-button {
    position: fixed;
    bottom: 30px;
    right: 10px;
    width: 60px;
    height: 60px;
    /* background-color: #007bff;  */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR6O-gPv_x4ilQWYp-pyPaM-SkUUp32Kny_NIEqKZsWCw&s");
    background-size: cover;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  #accessibilityMenu li{
    font-size: 16px;
    padding: 1px;
  }
  .accessibility-menu {
    position: fixed;
    bottom: 70px;
    right: 40px;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    display: none;
    z-index: 999;
  }
  
  .accessibility-menu.active {
    display: block;
  }
  
  
  .accessibility-menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .accessibility-menu li {
    margin-bottom: 10px;
  }
  
  .accessibility-menu button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
  }
  
  .accessibility-menu button:hover {
    color: #0056b3;
  }