*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(images/bgImgCC.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 93);
    font-family: Arial, sans-serif;
}

.container{
    display: flex;
    justify-content: space-around;
}

.card-left {
    height: 105vh;
    margin: 70px;
    display: flex;
    width: 30vw;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px;
}

.card-content {
    padding: 40px;
    margin-top: 20px;
    color: #ffffff;
    font-weight: bolder;
    font-size: 1.9rem;
}

h2 {
    font-size: 3.0rem;
    margin-bottom: 40px;
}

p {
    font-size: 1.4rem;
    margin-bottom: 20px;
}

h3{
    margin-top: 70px;
    font-size: 2.0rem;
}
.btn {
    display: flex;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top: 25px;
    width: 140px;
    height: 50px;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: bolder;
}

.btn a{
    text-decoration: none;
    color: #fff;
}

.btn:hover {
    background-color: #0056b3;
}

.right{
    /* border: 2px solid red; */
    height: 107vh;
    width: 50vw;
    margin: 75px;
    margin-top: 50px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.card{
    display: flex;
    flex-direction: row;
    width: 50vw;
    margin: 15px;
    padding: 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card:hover{
    background-color: rgba(114, 114, 114, 0.15);
}

.card-content h3{
    margin-top: 100px;
}

.card img{
    display: block;
    border-radius: 10px;
    width: 250px;
    height: 145px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
}

.card h3{
    color: #ffffff;
}

.content{
    font-size: 2.5rem;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 145px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    transition: 0.3s;
    top: 20px;
    /* margin-right: 30px; */
    margin-left: 15px;
}

.card a{
    text-decoration: none;
    color: #fff;
}

.content p{
    font-size: 2.0rem;
}

.content:hover{
    opacity: 1;
}